<!-- START EMAILS PANEL -->
<div id="job-email-content">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">Job Emails</h3></div>
		<div class="panel-body">
			<div class="row">


				<!-- CREATE NEW EMAIL -->
				<div class="job-email-new col-sm-6">
					<p class="lead mt0">New Email</p>
					<form action="">
						<div class="row">
							
							<!-- STANDARD FIELDS -->
							<div id="standard-email-fields" class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-12">
										<label for="email-template">Email Template (job.job_id.email.email_id.email_template)</label>
										<select name="email-template" id="email-template" class="form-control">
											<option value="thank-you">Thank You</option>
											<option value="thank-you-survey" disabled="disabled">Thank You + Survey</option>
											<option value="review-request" disabled="disabled">Review Request</option>
											<option value="order-ready" disabled="disabled">Order Ready</option>
											<option value="send-invoice" disabled="disabled">Send Invoice</option>
											<option value="payment-reminder" disabled="disabled">Payment Reminder</option>
											<option value="marketing-banners" disabled="disabled">Marketing: Banners</option>
											<option value="marketing-screenprinting" disabled="disabled">Marketing: Screen Printing</option>
											<option value="marketing-embroidery" disabled="disabled">Marketing: Embroidery</option>
											<option value="marketing-printing" disabled="disabled">Marketing: Printing</option>
											<option value="marketing-decals" disabled="disabled">Marketing: Decals</option>
											<option value="marketing-signs" disabled="disabled">Marketing: Signs</option>
											<option value="custom-email" disabled="disabled">Custom</option>
										</select>
									</div>
									<div class="form-group col-sm-4">
										<label for="queue-date">Queue Date</label>
										<input id="queue-date" type="text" class="form-control" placeholder="now" value="job.job_id.email.email_id.queue_date" />
									</div>
									<div class="form-group col-sm-4">
										<label for="send-date-offset">Offset</label>
										<input id="send-date-offset" type="text" class="form-control" placeholder="default=5" value="job.job_id.email.email_id.date_offset" />
									</div>
									<div class="form-group col-sm-4">
										<label for="send-date">Send Date</label>
										<input id="send-date" type="text" class="form-control" placeholder="queue date + offset" value="job.job_id.email.email_id.send_date" />
									</div>
								</div>
							</div>

							<!-- CUSTOM EMAIL FIELDS -->
							<div id="custom-email-fields" class="col-sm-12 email-fields">
								<div class="row">
									<p class="lead col-sm-12 mt-5">Custom Fields</p>
									<div class="form-group col-sm-12">
										<label for="custom-subject">Subject (job.job_id.email.email_id.custom_subject)</label>
										<input type="text" id="custom-subject" class="form-control" placeholder="Optional Custom Subject Line (Default: Thanks For Your Order at No Dinx)"/>
									</div>
									<div class="form-group col-sm-12">
										<label for="custom-message">Message (job.job_id.email.email_id.custom_message)</label>
										<textarea name="custom-message" id="custom-message" rows="5" class="form-control" placeholder="Optional Custom Message Body (Default: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error praesentium, esse tempore officia ullam, cum sed expedita fugit molestiae eaque repellendus, cupiditate, recusandae! Doloremque consectetur nulla non, quos facilis.)"></textarea>
									</div>
								</div>
							</div>

							<!-- FOOTER -->
							<div id="card-footer" class="col-sm-12">
								<div class="row">
									<div class="col-sm-12 mt-5" role="group" aria-label="Basic example">
									  <button type="button" class="btn btn-secondary">Save + Queue</button>
									  <button type="button" class="btn btn-secondary">Save + Hold</button>
									  <button type="button" class="btn btn-secondary">Save + Send Now</button>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>


				<!-- QUEUED EMAILS -->
				<div class="job-email-queue col-sm-6">
					<p class="lead mt0">Email Queue/History</p>
					<div id="accordion" role="tablist" aria-multiselectable="true">
						
						<!-- START LOOP; edit_mode=FALSE -->
						<div class="panel panel-default queued-job-email" edit_mode="false">
							<div class="panel-heading" role="tab" id="headingOne">
								<div class="d-flex justify-content-between">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">(job.job_id.email.email_id.template)</a>
									<span class="badge badge-default pull-right">Status</span>
								</div>
							</div>
							<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<div class="row">
										
										<div class="col-sm-12">
											<h4>edit_mode = FALSE</h4>
											<p class="card-text text-muted"><small><strong>The H4 title above:</strong> "Summary" IF currently editing = FALSE;<br />"Edit Email" if currently editing = TRUE</small></p>
										</div>
										
										<div class="col-sm-12">
											<p class="card-text text-muted"><small>The area below will contain a summary of all the data for that email when edit_mode=FALSE.</small></p>
											<div class="row">
												<form action="" class="form-horizontal" edit_mode="false">
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Status</label>
														<div class="col-sm-9"><p class="form-control-static">(job.job_id.email.email_id.status)</p></div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Queue Date</label>
														<div class="col-sm-9"><p class="form-control-static">(job.job_id.email.email_id.queue_date)</p></div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Send Date</label>
														<div class="col-sm-9"><p class="form-control-static">(job.job_id.email.email_id.send_date)</p></div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Subject</label>
														<div class="col-sm-9"><p class="form-control-static">(job.job_id.email.email_id.custom_subject)</p></div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Message Body</label>
														<div class="col-sm-9"><p class="form-control-static">(job.job_id.email.email_id.custom_message)</p></div>
													</div>
												</form>
											</div>
										</div>

										<div class="col-sm-12">
											<p class="card-text text-muted"><small>The buttons below will be shown conditionally based on the current status of the email. For example, once the status is "Sent", all buttons must be hidden.</small></p>
											<div class="row">
												<div class="col-sm-12 mt-5" role="group" aria-label="Basic example">
													
													<!-- visible when status != sent && currently editing = FALSE -->
													<p class="card-text">
														<!-- enter edit_mode; hide summary, show form -->
														<button type="button" class="btn btn-secondary btn-sm">Edit</button>
														<!-- set status=hold -->
														<button type="button" class="btn btn-secondary btn-sm">Hold</button>
														<!-- delete email -->
														<button type="button" class="btn btn-danger btn-sm">Delete</button>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END LOOP -->

						<!-- START LOOP; edit_mode=TRUE -->
						<div class="panel panel-default queued-job-email" edit_mode="true">
							<div class="panel-heading" role="tab" id="headingTwo">
								<div class="d-flex justify-content-between">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">(job.job_id.email.email_id.template)</a>
									<span class="badge badge-default pull-right">Status</span>
								</div>
							</div>
							<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<div class="row">
										
										<div class="col-sm-12">
											<h4>edit_mode = TRUE</h4>
											<p class="card-text text-muted"><small><strong>The H4 title above:</strong> "Summary" IF edit_mode = FALSE;<br />"Edit Email" if edit_mode = TRUE</small></p>
										</div>
										
										<div class="col-sm-12">
											<p class="card-text text-muted"><small>The area below will have all the editable fields if edit_mode = TRUE.</small></p>
											<div class="row">
												<form action="" class="form-horizontal" edit_mode="true">
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Status</label>
														<div class="col-sm-9">
															<input type="text" class="form-control" value="" placeholder="(job.job_id.email.email_id.status)" />
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Queue Date</label>
														<div class="col-sm-9">
															<input type="text" class="form-control" value="" placeholder="(job.job_id.email.email_id.queue_date)" />
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label for="date-offset" class="col-sm-3 control-label">Offset</label>
														<div class="col-sm-9">
															<input type="text" class="form-control" value="" placeholder="(job.job_id.email.email_id.offset)" />
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Send Date</label>
														<div class="col-sm-9">
															<input type="text" class="form-control" value="" placeholder="(job.job_id.email.email_id.send_date)" />
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Subject</label>
														<div class="col-sm-9">
															<input type="text" class="form-control" value="" placeholder="(job.job_id.email.email_id.custom_subject)" />
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label for="queue-date" class="col-sm-3 control-label">Message Body</label>
														<div class="col-sm-9">
															<input type="text" class="form-control" value="" placeholder="(job.job_id.email.email_id.custom_message)" />
														</div>
													</div>
												</form>
											</div>
										</div>

										<div class="col-sm-12">
											<p class="card-text text-muted"><small>The buttons below will be shown conditionally based on the current status of the email. For example, once the status is "Sent", all buttons must be hidden.</small></p>
											<div class="row">
												<div class="col-sm-12 mt-5" role="group" aria-label="Basic example">
													
													<!-- visible when status != sent && edit_mode = TRUE -->
													<p class="card-text">
														<!-- save and set status=hold -->
														<button type="button" class="btn btn-secondary btn-sm">Save + Hold</button>
														<!-- save changes and do not modify the send date -->
														<button type="button" class="btn btn-secondary btn-sm">Save + Keep Position</button>
														<!-- save changes and reset position in queue to the currently calculated send date -->
														<button type="button" class="btn btn-secondary btn-sm">Save + Reset Position</button>
														<!-- save and send asap -->
														<button type="button" class="btn btn-secondary btn-sm">Save + Send Now</button>
													</p>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- END LOOP -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END EMAILS PANEL -->