<template id="alert-success">
	<div class="alert alert-success" role="alert">
		<strong>Well done!</strong> You successfully read this important alert message.
	</div>
</template>

<template id="alert-info">
	<div class="alert alert-info" role="alert">
		<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
	</div>
</template>

<template id="alert-warning">
	<div class="alert alert-warning" role="alert">
		<strong>Warning!</strong> Best check yo self, you're not looking too good.
	</div>
</template>

<template id="alert-danger">
	<div class="alert alert-danger" role="alert">
		<strong>Oh snap!</strong> Change a few things up and try submitting again.
	</div>
</template>


<script>
    var thisDoc = document._currentScript.ownerDocument,
        template = thisDoc.querySelector("template#alert-info"),
        container = document.querySelector('#page-alert'),
        dashAlert = false;
    if (dashAlert == true) {
    	container.appendChild(template.content.cloneNode(true));
    } else {}
</script>