<table py:attrs="w.attrs" cellpadding="0" cellspacing="1" border="0">
    <thead py:if="w.columns">
        <tr>
            <th py:for="i, col in enumerate(w.columns)"
                class="col_${i}" py:content="col.title"/>
        </tr>
    </thead>
    <tbody>
        <tr py:for="i, row in enumerate(w.value)"
            style="background-color:${w.columns[13].bg_color(row)}">
            <td align="${w.columns[0].get_option('align', None)}"
                class="${w.columns[0].get_option('css_class', None)}"
                name="${w.columns[0].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[0].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[1].get_option('align', None)}"
                class="${w.columns[1].get_option('css_class', None)}"
                name="${w.columns[1].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[1].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[2].get_option('align', None)}"
                class="${w.columns[2].get_option('css_class', None)}"
                name="${w.columns[2].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[2].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[3].get_option('align', None)}"
                class="${w.columns[3].get_option('css_class', None)}"
                name="${w.columns[3].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[3].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[4].get_option('align', None)}"
                class="${w.columns[4].get_option('css_class', None)}"
                name="${w.columns[4].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[4].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[5].get_option('align', None)}"
                class="${w.columns[5].get_option('css_class', None)}"
                name="${w.columns[5].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[5].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[6].get_option('align', None)}"
                class="${w.columns[6].get_option('css_class', None)}"
                name="${w.columns[6].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[6].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[7].get_option('align', None)}"
                class="${w.columns[7].get_option('css_class', None)}"
                name="${w.columns[7].get_option('name', None)}"
                py:content="w.columns[7].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[8].get_option('align', None)}"
                class="${w.columns[8].get_option('css_class', None)}"
                name="${w.columns[8].get_option('name', None)}"
                py:content="w.columns[8].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[9].get_option('align', None)}"
                class="${w.columns[9].get_option('css_class', None)}"
                name="${w.columns[9].get_option('name', None)}"
                py:content="w.columns[9].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[10].get_option('align', None)}"
                class="${w.columns[10].get_option('css_class', None)}"
                name="${w.columns[10].get_option('name', None)}"
                py:content="w.columns[10].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[11].get_option('align', None)}"
                class="${w.columns[11].get_option('css_class', None)}"
                name="${w.columns[11].get_option('name', None)}"
                py:content="w.columns[11].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[12].get_option('align', None)}"
                class="${w.columns[12].get_option('css_class', None)}"
                name="${w.columns[12].get_option('name', None)}"
                py:content="w.columns[12].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[13].get_option('align', None)}"
                class="${w.columns[13].get_option('css_class', None)}"
                name="${w.columns[13].get_option('name', None)}"
				ondblclick="(setarchive($(this),${row.Order.id},\'${row.Order.OrderStatus.status}\'))"
                py:content="w.columns[13].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[14].get_option('align', None)}"
                class="${w.columns[14].get_option('css_class', None)}"
                name="${w.columns[14].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[14].get_field(row, displays_on='genshi')"/>
            <td align="${w.columns[15].get_option('align', None)}"
                class="${w.columns[15].get_option('css_class', None)}"
                name="${w.columns[15].get_option('name', None)}"
				onclick="(function(){window.open('/job/?id=${row.Order.id}');})()"
                py:content="w.columns[15].get_field(row, displays_on='genshi')"/>
        </tr>
    </tbody>
</table>

