<table py:attrs="w.attrs" cellpadding="0" cellspacing="1" border="0">
    <thead py:if="w.columns">
        <tr>
            <th py:for="i, col in enumerate(w.columns)"
                class="col_${i}" py:content="col.title"/>
        </tr>
    </thead>
    <tbody>
        <tr py:for="i, row in enumerate(w.value)">
            <td py:for="col in w.columns"
                align="${col.get_option('align', None)}"
                class="${col.get_option('css_class', None)}"
                name="${col.get_option('name', None)}"
				status="${col.get_option('status', None)}"
            	onclick="(function(){window.open('/podetail/?id=${row.id}');})()"
                py:content="col.get_field(row, displays_on='genshi')"/>
        </tr>
    </tbody>
</table>
