/* VARSgregerthgert */
$accent: #cce22b
$blk2: #252525
$blk: #303030
$dkg: #757575
$ltg: #f7f7f7
$wht: #ffffff
$tp: transparent

$trans1: all 500ms ease-in-out
$trans2: all 250ms ease-in-out
$trans3: all 750ms ease-in-out

$color-warning: #f0ad4e
$color-success: #5cb85c
$color-danger: #d9534f
$color-info: #5bc0de
$color-primary: #337ab7


/* TYPOGRAPHY */
html
	font-size: 1em

	body
		padding-top: 60px
		font-family: 'Roboto', Helvetica, Arial, sans-serif
		font-size: 1em
		font-weight: 400
		color: $blk

		.fa
			font-family: FontAwesome
			font-size: 1em

		h1, #pageheading .jumbotron h1.page-title
			font-size: 2.441em
			font-weight: 700
		h2
			font-size: 1.953em
			font-weight: 700
		h3
			font-size: 1.563em
			font-weight: 700
		h4
			font-size: 1.25em
			font-weight: 700
		h5
			font-size: 0.8em
			font-weight: 700
		h6
			font-size: 0.64em
			font-weight: 700
		p
			font-size: 1em
			font-weight: 400

		.page-pre-header
			text-transform: uppercase
			font-weight: lighter
			letter-spacing: 0.1em

		.page-primary-header
			@extend h1
			text-transform: capitalize

		.page-post-header
			@extend h4


/* NAVBAR */
nav.navbar
	background-color: $blk
	border-bottom: 0px solid $tp
	border-radius: 0
	
	.navbar-header
		.navbar-brand
			height: auto

			img
				height: 30px

	#navbar ul.navbar-nav
		li
			transition: $trans1
			
		li a
			line-height: 30px
			transition: $trans1
			color: $ltg
	
	#navbar ul.navbar-nav	
		li.active, li:hover

		li.active a, li:hover a
			color: $accent
	
	#navbar ul.navbar-nav
		li.dropdown.open

		li.dropdown.open > a
			background-color: $blk

	
	#navbar ul.navbar-nav
		li.dropdown ul.dropdown-menu
			border: 0px solid transparent
			background-color: $blk

		li.dropdown ul.dropdown-menu li

		li.dropdown ul.dropdown-menu li a
			color: $ltg
		
		li.dropdown ul.dropdown-menu li:hover
		
		li.dropdown ul.dropdown-menu li:hover a
			background-color: $blk
			color: $accent


/* PAGE HEADING */
#pageheading
	.jumbotron
		background-color: $ltg
		h1.page-title
			color: $blk
			margin-top: 5px
			font-size: 36px


/* TABLES */
#jobGrid
	table.grid
		.glyphicon-remove
			color: $ltg
		.glyphicon-ok
			color: $blk

		tr
			td
				border-bottom: 1px solid $dkg
			&:last-child td
				border-bottom: 0px solid transparent

table.grid
	th
		transition: $trans1
		background-color: $blk2
		color: $wht
		white-space: nowrap
	th a
		color: $wht

	tr
		transition: $trans1
		td[onclick], td[ondblclick],td[ontouchstart]
			cursor: pointer
	tr[onclick]
		cursor: pointer
	

	tr[visible="false"]
		display: none
	
	.glyphicon-remove
		color: $ltg
	
	.glyphicon-ok
		color: $blk

table.grid.hover
	tr:hover td
		background-color: rgba(255,255,255,0.5)

table.grid.fixedHeader-floating
	background-color: $dkg
	left: 0 !important
	width: 100% !important
	padding-left: 15px
	padding-right: 15px
	
	th
		background-color: $dkg
		color: $wht
		
	th a
		color: $wht


table.grid.fixedHeader-floating
	background-color: $dkg
	left: 0 !important
	width: 100% !important
	padding-left: 15px
	padding-right: 15px
	
	th
		background-color: $dkg
		color: $wht
		
	th a
		color: $wht


.live-search
	.counter
		padding: 7px 13px
		font-size: 14px
		line-height: 20px

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after
	bottom: 3px

.hide-search
	.dataTables_wrapper
		.row:nth-child(1)
			display: none

.hide-summary
	.dataTables_wrapper
		.row:nth-child(3)
			display: none

/* GENERAL */
span[ondblclick]
	cursor: pointer
.mt0
	margin-top: 0 !important
	
.main
	transition: $trans1

section
	margin-bottom: 5%

p.lead
	margin: 30px 0 10px

#quote_panel:first-child p.lead
	margin-top: 0 !important

ul.quick-status-list
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	padding: 0
	margin: 0
	list-style: none

	li.quick-status
		text-align: center !important
		padding: 0 1rem
		
		span.status
			clear: both
			display: block
			font-size: 0.5rem
			text-transform: uppercase

.counting-toggle
	.wrapper
		.count-status
			background-color: $color-primary
			color: $wht
			border-radius: 100%
			text-align: center
			width: 2em
			height: 2em
			font-size: 1em
			line-height: 2

		.count-status[countstatus="0"]
			background-color: $color-warning
			color: $wht
			
		.count-status[countstatus="1"]
			background-color: $color-success
			color: $wht

		.count-status[countstatus="2"]
			background-color: $color-danger
			color: $wht


/* INPUTS and FORMS */
input[onclick], input[ondblclick]
	cursor: crosshair
input[ontouchstart], input[ontouchend]
	cursor: pointer

.form-control
	display: block
	width: 100%
	height: 34px
	padding: 6px 12px
	font-size: 14px
	line-height: 1.42857143
	color: #555
	background-color: #fff
	background-image: none
	border: 1px solid #ccc
	border-radius: 4px
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s

.form-group
	margin-bottom: 15px !important

.input-group.fw-input-group
	width: 100%

.chosen-container, .chosen-container-single
	width: 100% !important
	
	a.chosen-single
		@extend .form-control

		div b
			background: url('/js/chosen-sprite.png') no-repeat 0px 7px

		abbr
			top: 11px

input[disabled]
	cursor: not-allowed !important

/* FOOTER */
footer
	margin-top: 15px !important


/* ALERTS */
body.has-alert
	padding-top: 90px

.alert
	position: fixed
	width: 100%
	z-index: 999
	top: 0px
.alert-visible
	top: 60px

/* TINY MCE */
.tinymce-wrapper
	overflow: hidden
table.mceLayout
	opacity: 0
.mceToolbar td
	display: table-row
	float: left
.mceToolbar td.mceToolbarEnd
	clear: left


/* MARKERS */
#marker_panel
	> .row > .col-sm-6:last-child
		ul.marker-proof-images
			width: 100%
			padding: 0
			margin-bottom: 30px
			list-style: none
			display: flex
			flex-direction: row
			flex-wrap: wrap

			li.marker-proof
				width: 50%

			li.uploadform
				width: 100%
				padding: 0
				margin-top: 15px

				.uploadform-wrapper
					background-color: #f7f7f7
					border-radius: 5px
					text-align: center
					height: 100%
					width: 100%
					padding: 0%

					p.drop-files-here
						font-weight: bolder
				
					form
						width: 100%
						height: 100%
						
						.form-group
							margin-bottom: 0 !important
							height: 100%
							display: flex
							flex-direction: column
							justify-content: center

							label
								margin: 0
								padding: 10%
								height: 100%
								width: 100% 
								display: none
								flex-direction: column
								justify-content: center
								font-size: 12px

								.fileuploadlabel
									margin-bottom: 10px
								.choosefilesbutton
									background-color: #FFF
									padding: 5px 10px
									border-radius: 5px
									cursor: pointer
							
							input[type="file"].hide
								padding: 0
								margin: 0
								box-shadow: none
								border: 0px solid transparent
								width: 0.1px
								height: 0.1px
								opacity: 0
								overflow: hidden
								position: absolute
								z-index: -1


/* BOX LABELS */
@media all
	html#print-job-sheet-page
		.box-sticker
			.box-top
				padding: 2rem
				background-color: $blk !important

				td.logo
				td.address
					color: $accent
				td.info
					table tr td
						padding: 1rem
						background-color: $wht
						border: 5px solid $blk

						span.prefix
							padding-right: 1rem
							text-transform: uppercase
							color: $dkg
							font-weight: bolder

			.box-bottom
				padding: 2rem
				
				td.thank-you
					font-size: 3rem
					font-weight: bolder
					text-transform: uppercase

				td.social
					color: $accent

/* PRINT ONLY */
@media all
	html#print-job-sheet-page
		font-size: 8px
		
		body
			padding-top: 0 !important

		.print-table-style
			border-collapse: collapse !important
			margin: 0
			border: 0 solid transparent
		
		.print-table-cell-style
			padding: 0.25rem
			font-size: 1rem
			line-height: 1.25

		nav.navbar, .page-header, .dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child, footer
			display: none
		
		.printonly
			table
				@extend .print-table-style
				tr td, tr th
					@extend .print-table-cell-style

			.job-info-top
				table
					@extend .print-table-style
					margin: 1rem 0

					tr td
						color: #dd3333 !important
				
					tr td, tr th
						@extend .print-table-cell-style
						border: 0 solid transparent
						font-size: 2.5rem

			.job-info-middle
				table.grid
					margin: 0 !important
					border-bottom: 3px solid #000000 !important

					tr:nth-child(1) th
						border-bottom: 3px solid #000000 !important
						background-color: #ffffff
						color: #000000
					tr td, tr th
						@extend .print-table-cell-style
						text-align: center
						&:nth-child(1), &:nth-child(2), &:nth-child(3)
							text-align: left
					tr
						td
							background-color: #ffffff
							border-left: 1px solid #f7f7f7
							border-right: 0px solid #f7f7f7
							border-bottom: 2px solid #cccccc
							border-top: 0px solid #f7f7f7

						th.sorting, th.sorting_desc, th.sorting_asc, th
							padding-right: 3px
							border-bottom: 3px solid #f7f7f7

						th::after
							display: none

			.job-info-order-total
				table tr
					text-align: right

			.job-info-bottom
				table
					margin: 1rem 0
					tr td, tr th
						@extend .print-table-cell-style
						font-size: 1.5rem

					tr:first-child
						th, td
							border-top: 0px solid transparent


/* JOB DETAIL GRID */
#job-details table.grid
	thead tr
		th:nth-child(1), th:nth-child(2), th:nth-child(3)
			//display: none
	
	tbody tr
		td
			padding: 0
			box-shadow: none !important
			
			input
				text-align: center
				padding: 0
				width: 100%
				line-height: 3
				border-radius: 0px
				border: 1px solid #f7f7f7
				-webkit-appearance: none
				-moz-appearance: none
				appearance: none
				background: transparent
				outline: none
			input.onlydt
				background-color: #ff00ff
			input.onlytouch
				background-color: lightgreen
		
		td:nth-child(1), td:nth-child(2), td:nth-child(3),
			//display: none
.visible-touch
	background-color: #ff00ff !important
.visible-notouch
	background-color: #00ff00 !important




