/* VARSgregerthgert */
/* TYPOGRAPHY */
html {
  font-size: 1em; }
  html body {
    padding-top: 60px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #303030; }
    html body .fa {
      font-family: FontAwesome;
      font-size: 1em; }
    html body h1, html body .page-primary-header, html body #pageheading .jumbotron h1.page-title, html body #pageheading .jumbotron .page-title.page-primary-header {
      font-size: 2.441em;
      font-weight: 700; }
    html body h2 {
      font-size: 1.953em;
      font-weight: 700; }
    html body h3 {
      font-size: 1.563em;
      font-weight: 700; }
    html body h4, html body .page-post-header {
      font-size: 1.25em;
      font-weight: 700; }
    html body h5 {
      font-size: 0.8em;
      font-weight: 700; }
    html body h6 {
      font-size: 0.64em;
      font-weight: 700; }
    html body p {
      font-size: 1em;
      font-weight: 400; }
    html body .page-pre-header {
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 0.1em; }
    html body .page-primary-header {
      text-transform: capitalize; }

/* NAVBAR */
nav.navbar {
  background-color: #303030;
  border-bottom: 0px solid transparent;
  border-radius: 0; }
  nav.navbar .navbar-header .navbar-brand {
    height: auto; }
    nav.navbar .navbar-header .navbar-brand img {
      height: 30px; }
  nav.navbar #navbar ul.navbar-nav li {
    transition: all 500ms ease-in-out; }
  nav.navbar #navbar ul.navbar-nav li a {
    line-height: 30px;
    transition: all 500ms ease-in-out;
    color: #f7f7f7; }
  nav.navbar #navbar ul.navbar-nav li.active a, nav.navbar #navbar ul.navbar-nav li:hover a {
    color: #cce22b; }
  nav.navbar #navbar ul.navbar-nav li.dropdown.open > a {
    background-color: #303030; }
  nav.navbar #navbar ul.navbar-nav li.dropdown ul.dropdown-menu {
    border: 0px solid transparent;
    background-color: #303030; }
  nav.navbar #navbar ul.navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #f7f7f7; }
  nav.navbar #navbar ul.navbar-nav li.dropdown ul.dropdown-menu li:hover a {
    background-color: #303030;
    color: #cce22b; }

/* PAGE HEADING */
#pageheading .jumbotron {
  background-color: #f7f7f7; }
  #pageheading .jumbotron h1.page-title, #pageheading .jumbotron html body .page-title.page-primary-header, html body #pageheading .jumbotron .page-title.page-primary-header {
    color: #303030;
    margin-top: 5px;
    font-size: 36px; }

/* TABLES */
#jobGrid table.grid .glyphicon-remove {
  color: #f7f7f7; }

#jobGrid table.grid .glyphicon-ok {
  color: #303030; }

#jobGrid table.grid tr td {
  border-bottom: 1px solid #757575; }

#jobGrid table.grid tr:last-child td {
  border-bottom: 0px solid transparent; }

table.grid th {
  transition: all 500ms ease-in-out;
  background-color: #252525;
  color: #ffffff;
  white-space: nowrap; }

table.grid th a {
  color: #ffffff; }

table.grid tr {
  transition: all 500ms ease-in-out; }
  table.grid tr td[onclick], table.grid tr td[ondblclick], table.grid tr td[ontouchstart] {
    cursor: pointer; }

table.grid tr[onclick] {
  cursor: pointer; }

table.grid tr[visible="false"] {
  display: none; }

table.grid .glyphicon-remove {
  color: #f7f7f7; }

table.grid .glyphicon-ok {
  color: #303030; }

table.grid.hover tr:hover td {
  background-color: rgba(255, 255, 255, 0.5); }

table.grid.fixedHeader-floating {
  background-color: #757575;
  left: 0 !important;
  width: 100% !important;
  padding-left: 15px;
  padding-right: 15px; }
  table.grid.fixedHeader-floating th {
    background-color: #757575;
    color: #ffffff; }
  table.grid.fixedHeader-floating th a {
    color: #ffffff; }

table.grid.fixedHeader-floating {
  background-color: #757575;
  left: 0 !important;
  width: 100% !important;
  padding-left: 15px;
  padding-right: 15px; }
  table.grid.fixedHeader-floating th {
    background-color: #757575;
    color: #ffffff; }
  table.grid.fixedHeader-floating th a {
    color: #ffffff; }

.live-search .counter {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 20px; }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 3px; }

.hide-search .dataTables_wrapper .row:nth-child(1) {
  display: none; }

.hide-summary .dataTables_wrapper .row:nth-child(3) {
  display: none; }

/* GENERAL */
span[ondblclick] {
  cursor: pointer; }

.mt0 {
  margin-top: 0 !important; }

.main {
  transition: all 500ms ease-in-out; }

section {
  margin-bottom: 5%; }

p.lead {
  margin: 30px 0 10px; }

#quote_panel:first-child p.lead {
  margin-top: 0 !important; }

ul.quick-status-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none; }
  ul.quick-status-list li.quick-status {
    text-align: center !important;
    padding: 0 1rem; }
    ul.quick-status-list li.quick-status span.status {
      clear: both;
      display: block;
      font-size: 0.5rem;
      text-transform: uppercase; }

.counting-toggle .wrapper .count-status {
  background-color: #337ab7;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 2; }

.counting-toggle .wrapper .count-status[countstatus="0"] {
  background-color: #f0ad4e;
  color: #ffffff; }

.counting-toggle .wrapper .count-status[countstatus="1"] {
  background-color: #5cb85c;
  color: #ffffff; }

.counting-toggle .wrapper .count-status[countstatus="2"] {
  background-color: #d9534f;
  color: #ffffff; }

/* INPUTS and FORMS */
input[onclick], input[ondblclick] {
  cursor: crosshair; }

input[ontouchstart], input[ontouchend] {
  cursor: pointer; }

.form-control, .chosen-container a.chosen-single, .chosen-container-single a.chosen-single {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-group {
  margin-bottom: 15px !important; }

.input-group.fw-input-group {
  width: 100%; }

.chosen-container, .chosen-container-single {
  width: 100% !important; }
  .chosen-container a.chosen-single div b, .chosen-container-single a.chosen-single div b {
    background: url("/js/chosen-sprite.png") no-repeat 0px 7px; }
  .chosen-container a.chosen-single abbr, .chosen-container-single a.chosen-single abbr {
    top: 11px; }

input[disabled] {
  cursor: not-allowed !important; }

/* FOOTER */
footer {
  margin-top: 15px !important; }

/* ALERTS */
body.has-alert {
  padding-top: 90px; }

.alert {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px; }

.alert-visible {
  top: 60px; }

/* TINY MCE */
.tinymce-wrapper {
  overflow: hidden; }

table.mceLayout {
  opacity: 0; }

.mceToolbar td {
  display: table-row;
  float: left; }

.mceToolbar td.mceToolbarEnd {
  clear: left; }

/* MARKERS */
#marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.marker-proof {
    width: 50%; }
  #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform {
    width: 100%;
    padding: 0;
    margin-top: 15px; }
    #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper {
      background-color: #f7f7f7;
      border-radius: 5px;
      text-align: center;
      height: 100%;
      width: 100%;
      padding: 0%; }
      #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper p.drop-files-here {
        font-weight: bolder; }
      #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper form {
        width: 100%;
        height: 100%; }
        #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper form .form-group {
          margin-bottom: 0 !important;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper form .form-group label {
            margin: 0;
            padding: 10%;
            height: 100%;
            width: 100%;
            display: none;
            flex-direction: column;
            justify-content: center;
            font-size: 12px; }
            #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper form .form-group label .fileuploadlabel {
              margin-bottom: 10px; }
            #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper form .form-group label .choosefilesbutton {
              background-color: #FFF;
              padding: 5px 10px;
              border-radius: 5px;
              cursor: pointer; }
          #marker_panel > .row > .col-sm-6:last-child ul.marker-proof-images li.uploadform .uploadform-wrapper form .form-group input[type="file"].hide {
            padding: 0;
            margin: 0;
            box-shadow: none;
            border: 0px solid transparent;
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1; }

/* BOX LABELS */
@media all {
  html#print-job-sheet-page .box-sticker .box-top {
    padding: 2rem;
    background-color: #303030 !important; }
    html#print-job-sheet-page .box-sticker .box-top td.address {
      color: #cce22b; }
    html#print-job-sheet-page .box-sticker .box-top td.info table tr td {
      padding: 1rem;
      background-color: #ffffff;
      border: 5px solid #303030; }
      html#print-job-sheet-page .box-sticker .box-top td.info table tr td span.prefix {
        padding-right: 1rem;
        text-transform: uppercase;
        color: #757575;
        font-weight: bolder; }
  html#print-job-sheet-page .box-sticker .box-bottom {
    padding: 2rem; }
    html#print-job-sheet-page .box-sticker .box-bottom td.thank-you {
      font-size: 3rem;
      font-weight: bolder;
      text-transform: uppercase; }
    html#print-job-sheet-page .box-sticker .box-bottom td.social {
      color: #cce22b; } }

/* PRINT ONLY */
@media all {
  html#print-job-sheet-page {
    font-size: 8px; }
    html#print-job-sheet-page body {
      padding-top: 0 !important; }
    html#print-job-sheet-page .print-table-style, html#print-job-sheet-page .printonly table, html#print-job-sheet-page .printonly .job-info-top table {
      border-collapse: collapse !important;
      margin: 0;
      border: 0 solid transparent; }
    html#print-job-sheet-page .print-table-cell-style, html#print-job-sheet-page .printonly table tr td, html#print-job-sheet-page .printonly table tr th, html#print-job-sheet-page .printonly .job-info-top table tr td, html#print-job-sheet-page .printonly .job-info-top table tr th, html#print-job-sheet-page .printonly .job-info-middle table.grid tr td, html#print-job-sheet-page .printonly .job-info-middle table.grid tr th, html#print-job-sheet-page .printonly .job-info-bottom table tr td, html#print-job-sheet-page .printonly .job-info-bottom table tr th {
      padding: 0.25rem;
      font-size: 1rem;
      line-height: 1.25; }
    html#print-job-sheet-page nav.navbar, html#print-job-sheet-page .page-header, html#print-job-sheet-page .dataTables_wrapper .row:first-child, html#print-job-sheet-page .dataTables_wrapper .row:last-child, html#print-job-sheet-page footer {
      display: none; }
    html#print-job-sheet-page .printonly .job-info-top table {
      margin: 1rem 0; }
      html#print-job-sheet-page .printonly .job-info-top table tr td {
        color: #dd3333 !important; }
      html#print-job-sheet-page .printonly .job-info-top table tr td, html#print-job-sheet-page .printonly .job-info-top table tr th {
        border: 0 solid transparent;
        font-size: 2.5rem; }
    html#print-job-sheet-page .printonly .job-info-middle table.grid {
      margin: 0 !important;
      border-bottom: 3px solid #000000 !important; }
      html#print-job-sheet-page .printonly .job-info-middle table.grid tr:nth-child(1) th {
        border-bottom: 3px solid #000000 !important;
        background-color: #ffffff;
        color: #000000; }
      html#print-job-sheet-page .printonly .job-info-middle table.grid tr td, html#print-job-sheet-page .printonly .job-info-middle table.grid tr th {
        text-align: center; }
        html#print-job-sheet-page .printonly .job-info-middle table.grid tr td:nth-child(1), html#print-job-sheet-page .printonly .job-info-middle table.grid tr td:nth-child(2), html#print-job-sheet-page .printonly .job-info-middle table.grid tr td:nth-child(3), html#print-job-sheet-page .printonly .job-info-middle table.grid tr th:nth-child(1), html#print-job-sheet-page .printonly .job-info-middle table.grid tr th:nth-child(2), html#print-job-sheet-page .printonly .job-info-middle table.grid tr th:nth-child(3) {
          text-align: left; }
      html#print-job-sheet-page .printonly .job-info-middle table.grid tr td {
        background-color: #ffffff;
        border-left: 1px solid #f7f7f7;
        border-right: 0px solid #f7f7f7;
        border-bottom: 2px solid #cccccc;
        border-top: 0px solid #f7f7f7; }
      html#print-job-sheet-page .printonly .job-info-middle table.grid tr th.sorting, html#print-job-sheet-page .printonly .job-info-middle table.grid tr th.sorting_desc, html#print-job-sheet-page .printonly .job-info-middle table.grid tr th.sorting_asc, html#print-job-sheet-page .printonly .job-info-middle table.grid tr th {
        padding-right: 3px;
        border-bottom: 3px solid #f7f7f7; }
      html#print-job-sheet-page .printonly .job-info-middle table.grid tr th::after {
        display: none; }
    html#print-job-sheet-page .printonly .job-info-order-total table tr {
      text-align: right; }
    html#print-job-sheet-page .printonly .job-info-bottom table {
      margin: 1rem 0; }
      html#print-job-sheet-page .printonly .job-info-bottom table tr td, html#print-job-sheet-page .printonly .job-info-bottom table tr th {
        font-size: 1.5rem; }
      html#print-job-sheet-page .printonly .job-info-bottom table tr:first-child th, html#print-job-sheet-page .printonly .job-info-bottom table tr:first-child td {
        border-top: 0px solid transparent; } }

/* JOB DETAIL GRID */
#job-details table.grid tbody tr td {
  padding: 0;
  box-shadow: none !important; }
  #job-details table.grid tbody tr td input {
    text-align: center;
    padding: 0;
    width: 100%;
    line-height: 3;
    border-radius: 0px;
    border: 1px solid #f7f7f7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    outline: none; }
  #job-details table.grid tbody tr td input.onlydt {
    background-color: #ff00ff; }
  #job-details table.grid tbody tr td input.onlytouch {
    background-color: lightgreen; }

.visible-touch {
  background-color: #ff00ff !important; }

.visible-notouch {
  background-color: #00ff00 !important; }
